langchain>=1.0
langchain-core>=1.2.28
langchain-openai>=1.1.14
langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-cli[inmem]
langsmith>=0.7.31
deepagents
python-dotenv
notebook

aiohttp>=3.13.4
Pygments>=2.20.0
cryptography>=46.0.7
